doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='meta desc')
    meta(name='viewport', content='width=device-width')
    title Avsc
    link(rel='stylesheet', href='../stylesheets/main.css', type='text/css')
    
    link(href='https://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Slab|Vollkorn|Roboto+Mono|Open+Sans' rel='stylesheet' type='text/css')
    script(src='../js/bundle.js' async)
  
  body
    div.container
      table#table.hidden
        tr.input-row
          td.wide
            div.outer
              div
                pre(contentEditable='true')#schema.textbox.verifiable.highlightable
              div.label
                img#schema-valid(src='../assets/valid.png').icon.hidden

              div#schema-error.message.hidden.error
          td.wide
            div.outer
              div
                pre(contentEditable='true')#input.textbox.highlightable
              div.label
                img#input-valid(src='../assets/valid.png').icon.hidden
              div#decoded-error.message.hidden.error
          td.wide
            div.outer
              div 
                div
                  div(contentEditable='true')#output.textbox.verifiable.highlightable 
              div.label
                img#output-valid(src='../assets/valid.png').icon.hidden
              div#encoded-error.message.hidden.error
        tr.buttons-row
          td.wide
            div.tooltip-wrapper
              div.tooltip-circle
              div.tooltip-triangle
              div.tooltip-label
                |Enter your schema here
          td.wide
            div.tooltip-wrapper
              div.tooltip-circle
              div.tooltip-triangle
              div.tooltip-label
                a#random(href="#") Enter your input record... Or click here to generate a random one.
          td.wide
            div.tooltip-wrapper
              div.tooltip-circle
              div.tooltip-triangle
              div.tooltip-label
                |Encoded record
