doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='meta desc')
    meta(name='viewport', content='width=device-width')
    title Avsc
    link(rel='stylesheet', href='../stylesheets/main.css', type='text/css')
    script(src='../js/bundle.js' async)
  
  body
    div.container
      table#table.hidden
        tr.input-row
          td.wide
            div.outer
              div
                textarea#schema.textbox.verifiable
              div.label
                |Schema
              div#schema-error.message.hidden
          td.wide
            div.outer
              div
                textarea#input.textbox
              div.label
                |Sample input
              div#decoded-error.message.hidden
          td.wide
            div.outer
              div 
                textarea#output.textbox.verifiable  
              div.label
                |Encoded data
              div#encoded-error.message.hidden
        tr.buttons-row
          td.wide
            div.tooltip-wrapper
              div.tooltip-circle
              div.tooltip-triangle
              div.tooltip-label
                Enter your schema here
          td.wide
            div.tooltip
              |Enter your input record... or click below to generate a random one.
          td.wide
            div.tooltip 
              |Your decoded record
