doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='meta desc')
    meta(name='viewport', content='width=device-width')
    title Avsc
    link(rel='stylesheet', href='../stylesheets/main.css', type='text/css')
    script(src='../js/bundle.js' async)
  
  body
    div.container
      table
        tr.input-row
          td.wide
            div.outer
              div
                textarea#schema.textbox.verifiable
              div.label
                |Schema
              div#schema-error.message.hidden
          td.wide
            div.outer
              div
                textarea#input.textbox
              div.label
                |Sample input
              div#decoded-error.message.hidden
          td.wide
            div.outer
              div 
                textarea#output.textbox.verifiable  
              div.label
                |Encoded String
              div#encoded-error.message.hidden
        tr.button-row
          td
            button#random.button-label
              |Generate Random Input
          td
            button#encode.button-label
              |Encode
          td
            button#decode.button-label
              |Decode
