/* To position footer correctly:
 * http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.-content- {
  padding-bottom: 40px; /* = Height of footer */
  width: 100%;
}

#header-image {
  height: 40px;
  width: 100%;
  background-color: #494A50;
  font-family: 'Coustard', serif;
}

.-body-{
  min-height: 100%;
  position: relative;
}

.-header-{
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  top:0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 500;
}

.-header- ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.-header- li {
  float: left;
}

.-header- li a{
  display: block;
  color: white;
  text-align: center;
  padding: 11px 20px 0px 20px;
  height: 24px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.-header- li a:hover {
  border-bottom-color: rgb(124, 183, 124);
  border-bottom-width: thick;
  border-bottom-style: solid;
}

li a.-disabled- {
  color: #AEADB9;
  pointer-events: none;
}

#footer {
  width: 100%;
  font-family: 'Coustard', serif;
  font-size: 12px;
  bottom: 0px;
  position: absolute;
  height: 40px;
}

#footer a {
  color: #3b8ec2;
}

#footer p {
  text-align: center;
  width : 100%;
  border-top: thin solid #9D9D9D;
  margin: 0 auto;
  padding-top: 5px;
}

#github {
  position:absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 400;
}


