body {
  background-color: #DEDEDE;
  font-family: 'Indie Flower', cursive;
}
.-highlight- {
  background-color: #FFFF88;
  font-weight: bold;
}
.-string- {
  color: rgb(0, 162, 45);
}

.-number- {
  color: #1059BB;
}

.-boolean- {
  color: #8608E0;
}

.-null- {
  color: #C35806;
}
.-container- {
  margin: auto;
  font-size: 1em;
  background-color: #DEDEDE;
}
.-button-label- {
  text-align: center;
  font-size:13px;
}

.-textbox- {
  overflow: auto;
  text-align: left;
  padding: 10px;
  width: 90%;
  height: 90%;
  font-size: medium;
  font-weight: 200;
  font-size: small;
  font-family: 'Open Sans', sans-serif;
  resize: none;
  border: none;
  background-color: white; 
}
#output {
  font-family: 'Roboto Mono', sans-serif;
}
.-wide- {
  width 28%;
}
table {
  width: 100%;
  height: 100%;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  position: absolute;
  table-layout: fixed;
}
td {
  text-align: center;
}
.-hidden- {
  display: none;
}

button {
  border: none;
  border-radius: 8px;
  background-color: #0099cc;
  color: #FFFFFF;
}
.-label- {
  opacity: 0.8;
  font-size: 19px;
  background-color: white;
  top:10px;
  right: 36px;
  position:absolute;
  margin: 0 auto;
  width: 10%;
  right: 60px;
}
.-message- {
  padding: 10px;
  opacity: 0.8;
  font-size: 11px;
  width: 87%;
  bottom: 0;
  height: auto;
  margin: 0 auto;
  position: absolute;
  font-family: 'Roboto Mono', sans-serif;
}
.-error- {
  background-color: rgba(243, 247, 86, 0.78);
}
.-outer- {
  position: relative;
}
.-tooltip-wrapper- {
  height: 100%;
  position: relative;
  width: 100%;
  top: -30px;
}

.-tooltip-circle-{
  background-color: #169ccc;
  border: 1px solid #999;
  height: 10em;
  position: absolute;
  width: 90%;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;    
  height:4em;
  top:28%;
  left: 5%;
  z-index: -10;
}

.-tooltip-triangle- {
  border-color: transparent transparent #169ccc transparent;
  border-style: solid;
  border-width: 2em;
  position: relative;
  top: -1em;
  left: 2em;
  -webkit-transform:rotate(-6deg);
  -moz-transform: rotate(-6deg);
  width: 0px;
  z-index: -9;
}

.-tooltip-label- {
  top: -23px;
  left: 2em;
  width: 80%;
  position: relative;
  pointer-events:all;
}
a {
  text-decoration:none;
}
.-icon- {
  margin: 10px auto;
  width: 90%;
}
.-buttons-row- {
  height: 10%;
}
