@import 'common.css';
body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
.-highlight- {
  background-color: #A2DDB3;
}
.-string- {
  color: rgb(0, 162, 45);
}

.-number- {
  color: #1059BB;
}

.-boolean- {
  color: #8608E0;
}

.-null- {
  color: #C35806;
}
.-button-label- {
  text-align: center;
  font-size:13px;
}

.-textbox- {
  overflow: auto;
  text-align: left;
  height: 68vh;
  padding: 10px;
  width: 300px;
  font-size: medium;
  font-weight: 200;
  font-size: small;
  font-family: 'Open Sans', sans-serif;
  resize: none;
  border: none;
  background-color: #EBEBEF;
  margin : 0px 0px 0px 0px;
  padding-bottom: 50px;
}
.-container- {
  width: 330px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-top: 10px; /* To have some room after heading, 
  but not for all pages, because that would be ugly.*/
}
#output {
  font-family: 'Roboto Mono', sans-serif;
  white-space: pre-wrap;
}

button {
  border: none;
  border-radius: 8px;
  background-color: #0099cc;
  color: #FFFFFF;
}
.-message- {
  opacity: 0.8;
  text-align: center;
  background-color: #778D94;
  width: 320px;
  font-size: small;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  bottom: 0;
  min-height: 25px;
  display: flex;
  align-items: center; /* To vertically align them in center */
  justify-content: center;
  white-space: pre-wrap; /* In case the error message is too long, break it into multiple lines*/

}

.-error- {
  background-color: rgba(243, 247, 86, 0.78);
  font-family: 'Roboto Mono', sans-serif;
  font-size: 11px;
  bottom: 25px; /* To be displayed on top of the label */
}
a {
  text-decoration:none;
}
.-icon- {
  opacity: 0.8;
  font-size: 19px;
  background-color: #EBEBEF;
  top: 10px;
  position:absolute;
  width: 30px;
  right: 20px; /* To be in the middle */
  margin: 10px auto;
}

.-random-icon-{
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 18px;
  width: 35px;

}
.-buttons-row- {
  height: 10%;
}

.-inline- {
  display: inline-block;
}
.-narrow- {
  width: 100%;
  left: -50%;
  position: relative;
}

.-logo- {
  background-image: url("../assets/avro-logo.png");
  background-repeat: no-repeat;
  height: 100px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.-help-column- {
  display: inline-block;
  position: relative;
  font-family: 'Coustard', serif;
  vertical-align: top;
  white-space: pre-wrap;
  margin-top: 60px;
  width: 620px
}

.-center-{
  margin-left: 10px;
  text-align: center;
}

#template{
  color: darkgrey;
  position: absolute;
  margin-top: 35vh;
  margin-left: 8px;
  font-size: medium;
}

.-centered- {
  overflow: hidden;
  white-space: nowrap; /* To be able to scroll */
  margin-left: auto;
  margin-right: auto; /* To be centered */
  width: 1000px;
}


/* Custom styles for select */

.-styled-select- {
  font-family: 'Coustard', serif;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  -webkit-appearance: none;
  -moz-appearance: none; /* more info: https://gist.github.com/joaocunha/6273016/ */
  text-indent: 0.01px;
  text-overflow: '';
  height: 35px;
  overflow: hidden;
  width: 240px;
  padding-left: 10px;
  color: white;
}

select option {
  color:black;
  background-color: white;
}

.-semi-square- {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.-blue- {
  background-color: #3b8ec2;
}

#uploadLink {
  font-weight: bold;
  color: #367FAD;
}

.-hidden- { /* Should be defined later to override all other display types */
  display: none;
}

