@import 'node_modules/codemirror/lib/codemirror.css'

html, body
  height 100%
  margin 0
  padding 0

.CodeMirror
  height 100%

  pre.CodeMirror-placeholder
    color #999
    position absolute
    z-index 10

.half-width
  float left
  height 100%
  width 50%

.documentation
  margin-left 25px
  margin-top 25px
