name: CI
on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    strategy:
      matrix:
        node:
          - '22'
          - '20'
          - '18'
    name: Test using node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v3
      - name: Install Node ${{ matrix.node }}
        shell: bash -eo pipefail -l {0}
        run: |
          nvm install --default ${{ matrix.node }}
          dirname "$(nvm which ${{ matrix.node }})" >> "$GITHUB_PATH"
      - name: Install
        run: npm i
      - name: Test
        run: npm t
